body {
    font-family: sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 30px;
}

main {
    display: flex;
    justify-content: center;
    gap: 40px;

    .card {
        background-color: white;
        padding: 30px;
        border-radius: 10px;

        img {
            width: 100px;
            height: 100px;

            &#caja-con-box-shadow {
                box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
                border: 2px dashed red;
            }

            &#caja-con-drop-shadow {
                /* Sombra con forma de estrella */
                filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
                border: 2px solid transparent;
            }
        }
    }
}