header {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(64px);
    text-align: center;
    font-size: large;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 20px;
    padding: 10px;
}

body {
    padding-top: 60px;
}

p {
    color: white;
}

.red { background-color: red; }
.blue { background-color: blue; }
.green { background-color: green; }
.black { background-color: black; }