body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color: black;
}

header {
    display: none;
}

main {
    padding: 0;
    margin: 0;

    .no-imprimir {
        display: none;
    }
}