body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
}

main {
    width: 600px;
    margin: auto;
    border: 1px solid #ccc;
    background: white;
    padding: 15px;
    border-radius: 8px;

    .float-img {
        /* 1. ¡OBLIGATORIO! El elemento debe flotar */
        float: left;
        width: 200px;
        height: 200px;
        margin-right: 15px;
        clip-path: circle(50%);

        shape-outside: circle(50%);
        shape-margin: 10px;
    }

    p {
        font-size: 1.1em;
        line-height: 1.6;
    }
}