.contenedor-problema {
    border: 2px solid grey;
}

.caja-flotante {
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: lightblue;
}

.contenedor-solucionado {
    clear: both;/* para que no se posicione junto con .contenedor-problema */
    border: 2px solid grey;
    overflow: auto; /* auto o */
    /* ¡La solución mágica! */
}