div {
    margin: 10px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    float: left;
    text-align: center;
    padding-top: 90px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px #ddd;
    border-radius: 10px;
}

#pabajo {
    clear: left; /* No permite elementos float a la izquierda, baja a la siguiente línea */
}